* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

.actionButton {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.actionButton .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translate(-30%, -30%);
  z-index: 1;
}

.actionButton .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.update-btn:hover #update-tip {
  visibility: visible;
}

.delete-btn:hover #delete-tip {
  visibility: visible;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}

.tours {
  margin-top: 450px;
}

.navws {
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
}

.red {
  background-color: red;
}

.dashboardDatas td {
  text-transform: uppercase;
}

.myButton {
  z-index: 3;
  background-color: black;
}

.transitionsContainer {
  margin-top: 20%;
}

.transitionHeader {
  color: white;
}

.transitionsContent {
  font-family: "Solway", serif;
  color: white;
}

.bg-baguio {
  background-image: url("/images/baguio.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-bicol {
  background-image: url("/images/Cagsawaruins.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.myContainer {
  margin-top: 0;
  border: 1px solid black;
}

.inputForm .userInfo {
  position: relative;
}

.inputForm .userInfo input {
  margin-bottom: 12px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.inputForm .userInfo .userInfoLabel {
  position: absolute;
  /*color: rgba(128, 128, 128, 0.5);*/
  top: 7px;
  left: 12px;
  /*transform: translateY(-50%);*/
  transition: 0.3s;
}

.inputForm .userInfo input:focus ~ .userInfoLabel,
.inputForm .userInfo input:valid ~ .userInfoLabel {
  top: -12px;
  left: 0;
  font-size: 14px;
  color: #03a9f4;
}

.inclusion {
  position: relative;
  box-sizing: border-box;
}

.inclusion .rm-inclusion-btn {
  position: absolute;
  right: 0;
}

.inputFormLogin {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputFormLogin .loginInput {
  position: relative;
}

.inputFormLogin .loginInput input {
  margin-bottom: 12px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.inputFormLogin .loginInput .loginLabel {
  position: absolute;
  color: rgba(128, 128, 128, 0.5);
  top: 7px;
  left: 12px;
  /*transform: translateY(-50%);*/
  transition: 0.3s;
}

.inputFormLogin .loginInput input:focus ~ .loginLabel,
.inputFormLogin .loginInput input:valid ~ .loginLabel {
  top: -12px;
  left: 0;
  font-size: 14px;
  color: #03a9f4;
}

.imgContainer {
  position: absolute;
}

.imgContainer .loginImage {
  position: absolute;
  top: 0;
}

#nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 17px;
  /*color: white;*/
}
#nav a:hover {
  font-weight: bolder;
  color: blue;
}

#nav span a {
  font-weight: normal;
  font-size: 15px;
  color: black;
}

/*#nav .navbar-brand a*/

#nav span a:hover {
  text-decoration: none;
  color: blue;
}

#nav span {
  font-weight: bold;
  font-size: 17px;
  /*color: white;*/
}

#nav span:hover {
  color: black;
}

#navDownScroll {
  background-color: green;
}

.login-bg {
  background-image: url("/images/login-bg.jpg");
}
